---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Main from "@layouts/Main.astro";
import friends from "@content/friend.json";
import { Plus } from "@lucide/astro";
---

<Layout>
  <Header activeNav="friends" />
  <Main pageTitle="朋友们">
    <ul class="grid-col-1 grid gap-6 pb-4 md:grid-cols-2">
      {
        friends.map(friend => (
          // <a href={friend.url} target="_blank" rel="noopener noreferrer">
          <li class="relative cursor-pointer p-6 transition-all duration-300 hover:bg-skin-accent/10">
            <div class="mb-2 flex h-12 w-12 items-center justify-center overflow-hidden rounded-full bg-skin-accent/10 shadow-inner">
              {friend.avatar ? (
                <img
                  src={friend.avatar}
                  alt={friend.name}
                  class="h-full w-full rounded-full object-cover shadow-inner"
                />
              ) : (
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="text-skin-accent/60"
                >
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                  <circle cx="12" cy="7" r="4" />
                </svg>
              )}
            </div>
            <p class=" inline-block text-lg font-bold text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0">
              {friend.name}
            </p>
            <p class="opacity-80">{friend.bio}</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="transparent"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right absolute right-4 top-4 h-6 w-6 text-skin-accent"
            >
              <>
                <path d="M7 7h10v10" fill="transparent" />
                <path d="M7 17 17 7" />
              </>
            </svg>
          </li>
          // </a>
        ))
      }
      <li
        class="flex cursor-pointer flex-col justify-center bg-skin-accent/5 p-6 transition-all duration-300 hover:bg-skin-accent/10"
      >
        <div
          class="mb-2 flex h-12 w-12 items-center justify-center rounded-full bg-skin-accent/10"
        >
          <Plus stroke-width={2} class="text-skin-accent" />
        </div>
        <a
          href="mailto:max@xox.im"
          class="inline-block text-lg font-bold text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
        >
          交个朋友？
          <p class="text-base font-[300] opacity-80">点击添加你的友情链接</p>
        </a>
      </li>
    </ul>
    <Footer />
  </Main>
</Layout>
